<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALBDFilm.Properties.Settings.FilmDBConnectionString"
            connectionString="Data Source=LAPTOP-IQTHKHPT\SQLEXPRESS;Initial Catalog=FilmDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>