<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALBDVideo.Properties.Settings.BD_Videotheque_LiegeConnectionString"
            connectionString="Data Source=LAPTOP-IQTHKHPT\SQLEXPRESS;Initial Catalog=BD_Videotheque_Liege;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="DALBDVideo.Properties.Settings.BD_Videotheque_WaremmeConnectionString"
            connectionString="Data Source=LAPTOP-IQTHKHPT\SQLEXPRESS;Initial Catalog=BD_Videotheque_Waremme;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="DALBDVideo.Properties.Settings.BD_Videotheque_LiegeConnectionString1"
            connectionString="Data Source=LEOPARDGK\SQLEXPRESS;Initial Catalog=BD_Videotheque_Liege;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DALBDVideo.Properties.Settings.BD_Videotheque_LiegeConnectionString2"
            connectionString="Data Source=LAPTOP-IQTHKHPT\SQLEXPRESS;Initial Catalog=BD_Videotheque_Liege;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>